<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/login.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
</head>
<body class="bglogin">
    <!--menu-->
    <!--end menu-->
    <!--slide-->
    <div id="carouselExampleIndicators" class="carousel slide mt-4" data-bs-ride="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                @*Ảnh các slide*@
                <img src="https://shoptaycam.com/wp-content/uploads/2018/06/cover-facebook.png" class="d-block w-100" , 1917px" alt="First Slide">
            </div>
            <div class="carousel-item">
                <img src="https://shoptaycam.com/wp-content/uploads/2018/06/banner-shop-2.jpg" class="d-block w-100" alt="Second Slide">
            </div>
            <div class="carousel-item">
                <img src="https://shoptaycam.com/wp-content/uploads/2018/06/banner-shop-3.jpg" class="d-block w-100" alt="Third Slide">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!--end slide-->
    <!--list new product-->
    <div class="container">
        <div class="row mt-5">
            <h2 class="list-product-title">New Product</h2>
            <div class="list-product-subtitle">
                <p>List Product Description</p>
            </div>
            <div class="product-group">
                <div class="row">
                    @foreach (var product in ViewBag.products)
                    {
                        if (product.Id > 8)
                        {
                            break;
                        }
                        else
                        {
                            <div class="col-md-3 col-sm-6 col-12">
                                <div class="card card-product mb-3">
                                    @*picture 1*@
                                    <img src="~/img/@product.prtImage" class="card-img-top" id="card-img-top" alt="Product 1">
                                    <div class="card-body">
                                        <h5 class="card-title" id="card-title">@product.prtName</h5>
                                        <div class="card-text product-price mb-3">
                                            <!-- <span class="del-price">15.999.999<sup>đ</sup></span> -->
                                            <span class="new-price" id="new-price">@product.prtPrice<sup>đ</sup></span>
                                        </div>
                                        <a asp-action="buy" asp-controller="Order" asp-route-id="@product.Id" class="btn btn-info btn-add-to-card" type="submit" value="Submit"><i class="fa-solid fa-cart-shopping"></i></a>
                                        <a href="#" class="btn btn-detail">Xem chi tiết</a>
                                    </div>
                                </div>
                            </div>
                        }



                    }
                </div>
            </div>
        </div>
    </div>

    @{
        if (TempData["msg"] != null)
        {
            <sript>
                alert('@TempData["msg"]')
            </sript>
        }
    }
    <!--end list new product-->
    <!--list top product-->
    <div class="container">
        <div class="row mt-5">
            <h2 class="list-product-title">Top Product</h2>
            <div class="list-product-subtitle">
                <p>List Top Product Description</p>
            </div>
            <div class="product-group">
                <div class="row">
                    <!-- product 1 -->
                    @foreach (var product in ViewBag.products)
                    {
                        if (product.Id < 8)
                        {
                            continue;
                        }
                        else
                        {
                            <div class="col-md-3 col-sm-6 col-12">
                                <div class="card card-product mb-3">
                                    @*picture 1*@
                                    <img src="~/img/@product.prtImage" class="card-img-top" id="card-img-top" alt="Product 1">
                                    <div class="card-body">
                                        <h5 class="card-title" id="card-title">@product.prtName</h5>
                                        <div class="card-text product-price mb-3">
                                            <!-- <span class="del-price">15.999.999<sup>đ</sup></span> -->
                                            <span class="new-price" id="new-price">@product.prtPrice<sup>đ</sup></span>
                                        </div>
                                        <a asp-action="buy" asp-controller="Order" asp-route-id="@product.Id" class="btn btn-info btn-add-to-card" type="submit" value="Submit"><i class="fa-solid fa-cart-shopping"></i></a>
                                        <a href="#" class="btn btn-detail">Xem chi tiết</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        </footer>
        <!--load bootstrap js-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/home.js" asp-append-version="true"></script>
</body>
</html>
